body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  color: white;
  min-height: 100vh; /* Para garantir que ocupa toda a altura da tela */
  padding-top: 60px; /* Espaço para a navbar */
  width: 100%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

input, select, button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #6200ea;
  color: white;
  cursor: pointer;
}
